In [2]:
import pandas as pd

In [15]:
programas = pd.read_table("programas.txt", header=None)
facultades = pd.DataFrame({"id_facultad": [1, 2, 3],
                           "facultad": ["ciencias economicas, administrativas y contables", "ciencias sociales y humanas", "ingenieria"]})

In [16]:
programas.head()

                                                   0
0           1,1,"tecnologia en gestion de marketing"
1  2,1,"administracion en seguridad y salud en el...
2                             3,3,"ingenieria civil"
3           4,3,tecnologia en produccion industrial"
4  5,3,"tecnologia en seguridad e higiene ocupaci...

In [17]:
programas = programas[0].str.split(",", expand=True)

In [18]:
programas = programas.rename(columns={0: "id_programa", 1: "id_facultad", 2: "programa"})

In [19]:
programas["programa"] = programas["programa"].str.replace("\"", "")

In [32]:
programas["id_facultad"] = programas["id_facultad"].astype(int)

In [35]:
#programas.merge(facultades, how ="inner", on="id_facultad")
programas = programas.merge(facultades, how="left", on="id_facultad")

In [37]:
programas = programas[["id_programa", "id_facultad", "facultad", "programa"]]

In [38]:
# programas.to_csv("programasv2.txt", sep=";", header = None, index=None)