In [1]:
import pandas as pd

In [17]:
programas = pd.read_table("programas.txt", header=None)

In [18]:
programas.head()

                                                   0
0           1,1,"tecnologia en gestion de marketing"
1  2,1,"administracion en seguridad y salud en el...
2                             3,3,"ingenieria civil"
3           4,3,tecnologia en produccion industrial"
4  5,3,"tecnologia en seguridad e higiene ocupaci...

In [19]:
programas[0].str.split(",", expand=True)

     0  1                                                  2
0    1  1               "tecnologia en gestion de marketing"
1    2  1  "administracion en seguridad y salud en el tra...
2    3  3                                 "ingenieria civil"
3    4  3               tecnologia en produccion industrial"
4    5  3    "tecnologia en seguridad e higiene ocupacional"
5    6  3                 "tecnologia en control de calidad"
6    7  3       "tecnologia en gestion ambiental industrial"
7    8  3  "tecnologia en operacion de plantas y procesos...
8    9  3         "tecnologia en instrumentacion industrial"
9   10  3    "tecnologia en control electronico de procesos"
10  11  3             "tecnologia en desarrollo de software"
11  12  3  "tecnologia en redes de comunicaciones y servi...
12  13  3                           "ingenieria industrial"
13  14  2                                          "derecho"
14  15  2                                      "psicologia"
15  16  2                                   "trabajo social"
16  17  1       "tecnologia en gestion turistica y hotelera"
17  18  1      "tecnologia en gestion logistica y portuaria"
18  19  1  "tecnologia en gestion de negocios internacion...
19  20  1                 "tecnologia en gestion financiera"
20  21  1        "tecnologia en contabilidad sistematizada"
21  22  1                               "contaduria publica"
22  23  3                           "ingenieria de procesos"
23  24  3                           "ingenieria de sistemas"
24  25  1                       "administracion de empresas"
25  26  3                           "ingenieria electronica"
26  27  3                             "ingenieria ambiental"
27  28  1                      "especializacion en finanzas"
28  29  1            "especializacion en gestion tributaria"
29  30  1         "especializacion en gerencia de proyectos"
30  31  1  "especializacion en gerencia estrategica de ma...
31  32  1  "especializacion en gestion estrategica del ta...
32  33  1  "especializacion en logistica y distribucion f...
33  34  2       "especializacion psicologia social aplicada"
34  35  3      "especializacion en gestion integral en hseq"
35  36  3                  "maestria en sistemas de gestion"
36  37  3  "maestria en tecnologias de la informacion y l...